@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;700&family=Noto+Sans+KR:wght@400;700&family=Rubik:wght@500;700&display=swap');
@import "tailwindcss";


:root {
  --sky_bg: #effbfd;
  --black-100: #62628e;
  --white-a90: #ffffffe6;
  --blue-100: #14d0ee;
  --blue-60: #a2ecf8;
}

@theme {
  --color-sky-bg: var(--sky_bg);
  --color-black-100: var(--black-100);
  --color-white-a90: var(--white-a90);
  --color-blue-100: var(--blue-100);
  --color-blue-60: var(--blue-60);
  --font-rubik: 'Rubik', sans-serif;
}

@layer base {
  body {
    font-family: 'Rubik', 'Noto Sans KR', 'Noto Sans JP', sans-serif;
  }

  /* 카드 메인 배경색 */
  .card-main {
    min-height: 100vh;
    background-color: var(--sky_bg);
  }

  .card-header {
    margin: 2rem;
    text-align: center;
    display: flex;
    gap: 2rem;
    align-items: center;
    justify-content: center;
  }

  /* 카드 영역부터 배경 이미지(물결 패턴) */
  .card-content-area {
    background-image: url('/assets/filter-bg.webp');
    background-position: top center;
    background-size: 100%;
    background-repeat: no-repeat;
    padding-top: 4rem;
  }

  .card-badges {
    position: absolute;
    top: 4px;
    left: 4px;
    align-items: center;
    pointer-events: none;
  }

  .card-badge {
    width: 30px;
    height: 30px;
  }
}